@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    background-color: rgb(87, 87, 219);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 18px;
    
}

.card img{
    width: 100%;
    height: 60%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
.card h1{
    width: 100%;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    color: rgba(27, 12, 12, 0.578);
}
.card h5{
    width: 100%;
    font-size: 25px;
    text-align: center;
    margin-top: 8px;
    color: red;
}
.card .btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
}
.card .btn-container button{
    padding: 10px 25px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
}

.card .btn-container #add{
    background-color: green;
    color: #fff;
}